<div>
    <a href="/views/products?page={{page}}&limit={{limit}}"><button>Volver</button></a>
    <h2>{{prod.title}}</h2>
    <h3>{{prod.description}}</h3>
    <img src="{{prod.thumbnail}}" width="200px" alt="Imagen de {{title}}">
    <h3>Precio: {{prod.price}}</h3>
    <h3>Stock: {{prod.stock}}</h3>
    <button>add to cart</button>
</div>