<div class="d-flex flex-column align-items-center mt-4">
    <a href="/views/products?page={{page}}&limit={{limit}}">
        <button class="btn btn-secondary mb-3">Volver</button>
    </a>
    <h2>{{prod.title}}</h2>
    <h3>{{prod.description}}</h3>
    <img class="my-3" src="{{prod.thumbnail}}" width="200px" alt="Imagen de {{title}}">
    <h3>Precio: {{prod.price}}</h3>
    <h3>Stock: {{prod.stock}}</h3>
    {{#ifEquals role "user"}}
        <button class="btn btn-secondary my-3">add to cart</button>
    {{/ifEquals}}
</div>