<div class="d-flex my-4 flex-column align-items-center">
    <h2>Username: {{first_name}}</h2>
    <h2>LastName: {{last_name}}</h2>
    <h2>Age: {{age}}</h2>
    <h2>Email: {{email}}</h2>
    <h2>ID: {{id}}</h2>
    <a href="http://localhost:8080/api/usuarios/premium/{{id}}"><button class="btn btn-secondary my-3">Change Rol</button></a>
    <a href="http://localhost:8080/api/usuarios/{{id}}/documents"><button class="btn btn-secondary my-3">Upload Documents</button></a>
</div>