<div>
    <div class="d-flex flex-column align-items-center">
        <div class="d-flex w-100 justify-content-end">
            <a href="/views/cart/{{cart_id}}">
                <button class="btn btn-primary mx-3">Cart</button>
            </a>
        </div>
        <h1 class="m-3">Welcome {{role}} {{user_name}}!!</h1>
        {{#each docs}}
            <div id="prod-container" class="d-flex my-3 mx-5 flex-column justify-content-center align-items-center border-bottom border-primary border-2 rounded-bottom">
                <a href="/views/products/{{this._id}}?page={{../page}}&limit={{../limit}}">
                    <h3 class="prod-title">Titulo: {{this.title}}</h3>
                </a>
                <div class="d-flex align-items-center w-50">
                    <h4>Descripcion: {{this.description}}</h4>
                </div>
                <img class="m-2" src="{{this.thumbnail}}" width="200px" alt="Image of {{this.title}}">
                {{#ifEquals ../role "user"}}
                    <button class="btn btn-secondary m-2" onclick="addToCartThis('{{../cart_id}}','{{this._id}}')">Add to cart</button>
                {{else ifEquals ../role "premium"}}
                    {{#ifEquals ../email this.owner}}
                    {{else}}
                        <button class="btn btn-secondary m-2" onclick="addToCartThis('{{../cart_id}}','{{this._id}}')">Add to cart</button>
                    {{/ifEquals}}
                {{/ifEquals}}





{{!-- 
                {{#ifEquals ../role "user"}}
                    <button class="btn btn-secondary m-2" onclick="addToCartThis('{{../cart_id}}','{{this._id}}')">Add to cart</button>
                {{/ifEquals}}
                {{#ifEquals ../role "premium"}}
                    <button class="btn btn-secondary m-2" onclick="addToCartThis('{{../cart_id}}','{{this._id}}')">Add to cart</button>
                {{/ifEquals}} --}}
            </div>
        {{/each}}
    </div>

    <div class="d-flex justify-content-center my-3">
        {{#if hasPrevPage}}
        <div class="m-0 d-flex justify-content-start">
            <a href="/views/products?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}"><button class="btn btn-secondary m-2">prevPage</button></a>
        </div>
        {{/if}}
        {{#if hasNextPage}}
        <div class="m-0 d-flex justify-content-end">
            <a href="/views/products?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}"><button class="btn btn-secondary m-2">nextPage</button></a>
        </div>
        {{/if}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../static/js/products.js"></script>