<div>
    <form action="">
        <h2>Add an item</h2>
        <label for="title">Titulo</label>
        <input type="text" name="title">
        <label for="description">Descripcion</label>
        <input type="text" name="description">
        <label for="img">Thumbnail link</label>
        <input type="text" name="img">
        <label for="price">Precio</label>
        <input type="text" name="price">
        <label for="stock">Stock</label>
        <input type="text" name="stock">
        <label for="id">ID</label>
        <input type="text" name="id">
        <input type="submit" id="submit-button">
    </form>
</div>
<div>
    <h2>Delete an item</h2>
    <label for="deleteInput">Id:</label>
    <input type="text" id="delete-input" name="deleteInput">
</div>

<div id="p-c">

</div>

{{#each productos}}
    <div>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <img src={{this.thumbnail}} alt="Imagen del producto">
        <p>Precio: {{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>ID: {{this.id}}</p>
    </div>
{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>